h1{
    text-align: center;
    font-size: 30px;
}
.main_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: space-between;
}
span{

    padding-right: 8px;
    padding-left: 8px;
    font-weight: bolder;
}
.div1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
img{
    padding-left: 20px;
    width: 80px;
    
}
.lin{
    margin-top: 40px;
    display: block;
    text-align: center;
    margin: auto;
    background-color: #2D2828;
    color: white;
    border-radius: 30px;
    padding: 8px;
    width: 10%;
}